<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlookAddIns.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OutlookAddIns.Properties.Settings>
            <setting name="Database" serializeAs="String">
                <value>Y:\Merge Database\The Merge Database_be.mdb</value>
            </setting>
        </OutlookAddIns.Properties.Settings>
    </applicationSettings>
</configuration>