<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlookAddIns.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OutlookAddIns.Properties.Settings>
            <setting name="Database" serializeAs="String">
                <value>Y:\Merge Database\The Merge Database_be.mdb</value>
            </setting>
            <setting name="RegistrationFields" serializeAs="String">
                <value>First Name;Last Name;JobTitle;Address;Phone;Mobile;Email;Website;Twitter;Instagram</value>
            </setting>
            <setting name="RegistrationDatabaseFields" serializeAs="String">
                <value>[First Name];Surname;JobTitle;;[Direct Tel No];MobileTelNumber;Email</value>
            </setting>
            <setting name="AddressFields" serializeAs="String">
                <value>Address1;Address2;Address3;Town;County;Postcode;Country;Web;Twitter;Instagram</value>
            </setting>
        </OutlookAddIns.Properties.Settings>
    </applicationSettings>
</configuration>